

.heading{
    
    text-align: center;
   
   ;}

     
   .container{
    margin: auto;
    display: flex;
    flex-direction:column;
    width: 50vw;
   
    
}

#text{
    text-align: center;
}

body{
    background-color: yellow;
}


#enter-date{
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
}

#lucky-number{
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
}

#check{
    border: solid;
    padding: 1rem;
    border-radius: 1rem;

    margin-top: 2rem;
    
}

#text{
    margin-top: 4rem;
    font-size: larger;
    font-weight: bolder;
}

.social-list{
    list-style: none;
}

.social{
    display: inline;
}

.footer{
    background-color: orangered;
}