

.heading{
    
    text-align: center;
   
   ;}

     
   .container{
    margin: auto;
    display: flex;
    flex-direction:column;
    width: 50vw;
   
    
}

#text{
    text-align: center;
}

body{
    background-color: yellow;
    margin: 0;
}


#enter-date{
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
}

#lucky-number{
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
}

#check{
    border: solid;
    padding: 1rem;
    border-radius: 1rem;

    margin-top: 2rem;
    
}

#text{
    margin-top: 4rem;
    font-size: larger;
    font-weight: bolder;
}

.social{
    display:inline;
    padding:2rem;
    padding: 0.5rem;
   
}

.social-list{
    text-align:center;
    margin:auto;
    padding-inline-start:0;
}


.footer{
    background-color:rgb(255, 7, 234);
    padding:1.5rem 0;
    border-radius:1rem;
}

.footer .link{
    color:white;
}

.connect{
    text-align:center;
    color:white;
}

.link{
    text-decoration: none;
}


.footer {
    position:absolute;
    bottom:0;
    width:100%;
    
 }